/* :root{
  --primary-color: rgb(0, 123, 255);
  --primary-color-hover: rgb(0, 105, 217);
  --primary-color-active: rgb(0, 90, 190);
  --primary-color-outline: rgb(0, 123, 255);
} */

:root{
  --primary-color: rgb(40, 167, 69);         
  --primary-color-hover: rgb(33, 136, 56);  
  --primary-color-active: rgb(28, 117, 48);
  --primary-color-outline: rgb(40, 167, 69);
}

.btn-primary{
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color)!important;
}
.btn-primary:focus{
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color)!important;
}
.btn-primary:hover {
    background-color: var(--primary-color-hover)!important;
    border-color: var(--primary-color-hover)!important;
}
.btn-primary:active {
    background-color: var(--primary-color-active)!important;
    border-color: var(--primary-color-active)!important;
}
.btn-outline-primary{
    color: var(--primary-color-outline);
    border-color: var(--primary-color-outline)!important;
}
.btn-outline-primary:focus{
    color: var(--primary-color-outline);
    border-color: var(--primary-color-outline)!important;
}
.btn-outline-primary:focus:hover{
    color: white;
    border-color: var(--primary-color-outline)!important;
}
.btn-outline-primary:hover {
    color: white;
    background-color: var(--primary-color-hover)!important;
    border-color: var(--primary-color-hover)!important;
}
.btn-outline-primary:active {
    background-color: var(--primary-color-active)!important;
    border-color: var(--primary-color-active)!important;
}
.dropdown {
  width: 30px;
}
.li-1 {
    border: 1px solid black;
}
.btn-anim {
    cursor: pointer;
    transition: all 0.3s;
}
.btn-anim:hover {
    transform: translateY(-5px);
}
.btn-toggle {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: #e9ecef;
}
.btn-toggle::before {
  font-family: 'Bootstrap-icons';
  width: 1.25em;
  line-height: 0;
  content: '\f285'; /* bi-chevron-right */
  transition: transform 0.2s ease-in-out;
  transform-origin: center;
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}
.btn-toggle-nav a {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}
.sidebar-1 {
    width: 250px !important;
}
.captcha {
  transform: scale(0.9);
  transform-origin: 0 0;
  width: 304px;
  height: 78px;
}
.form-invalid {
  border: 1px solid #dc3545 !important;       
  border-radius: 0.375rem;          
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}
.form-valid {
  border: 1px solid #198754 !important;
  border-radius: 0.375rem;
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
}
#backend-response {
  color: #dc3545;
}
