APP_PORT=YOUR_APP_PORT

RECAPTCHA_SECRET_KEY=YOUR_CAPTCHA_SECRET_KEY

SESSION_SECRET_KEY=YOUR_SESSION_SECRET_KEY

USE_HTTPS=YOUR_CONNECTION_TYPE(true/false)

# Local DB
# DB_USER=YOUR_DB_USERNAME
# DB_HOST=YOUR_DB_HOST
# DB_NAME=YOUR_DB_NAME
# DB_PASSWORD=YOUR_DB_PASSWORD
# DB_PORT=YOUR_DB_PORT

# Global DB
DB_USER=YOUR_DB_USERNAME
DB_HOST=YOUR_DB_HOST
DB_NAME=YOUR_DB_NAME
DB_PASSWORD=YOUR_DB_PASSWORD
DB_PORT=YOUR_DB_PORT
NODE_ENV=YOUR_ENV_TYPE(production/local)